/* Styles that should apply to the whole site */

body {
    width: 100%;
    text-decoration-color: grey;
    font-family: "roboto" !important;
    height: 100%;
    background-color: #F5F5F5;
}

#header {
    height: 20px;
    color: #565656;
    padding: 10px;
}
.container {
    width: 100% !important;
}

.container-fluid {
    width: 100%;
}

.btn {
    position: relative;
    float: left;
    margin-top: 5px !important;
    background-color: #A5A5AF;
}

.btn:hover {
    background-color: white;
    color: #F7C331;
}

.form-control {
    width: 90%;
}

label {
    margin: 5px !important;
    width: 100% !important;
}

footer {
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    color: #A5A5AF;
    background-color: #F5F5F5;
    border-top: 1px solid #A5A5AF;
}

.navbar {
    padding: 0px;
    background-color: white;
    font-size: 16px;
    font-family: "roboto";
}

.navbar li:hover {
    background-color: #F7C331 !important;
}

#myNavbar a:hover {
    color: white !important;
}

#myNavbar a {
    color: #565656 !important;
}

.row {
    margin-top: 40px;
}

.logo {
    float: right;
    list-style-type: none;
}

#about-page {
    padding-top: 40px;
    font-family: "roboto";
    font-size: 20px;
}

