#map {
    height: 600px;
    width: 100%;
}

#wrapper {
    position: relative;
}

p a {
    color: white;
}

p a:hover {
    color: white;
}


#prefs {
    padding: 12px;
    border: 1px solid white;
    color: #A5A5AF;
    background-color: #F5F5F5;
    margin: 0px;
}

#preferences {
}

#results {
    background-color: #F5F5F5;
    color: #A5A5AF;
}

h4 {
    text-decoration: solid;
    text-decoration: underline;
    font-size: 20pt;
}

h3 {
    text-decoration: solid;
    text-decoration: underline;
    font-size: 12pt;
}

#banner {
    background-color: #A5A5AF;
    color: white;
    width: 100%;
}

#explore {
    visibility: hidden;
}

#explore ul {
    width: 100%;
    padding-left: 100px;
}

#explore ul li{
    display: inline-block;
    height: 250px;
    width: 250px;
    margin-top: 10px;
    background-color: white;
    border: 1px solid #F7C331;
    text-align: center;
    font-size: 16pt;
    text-decoration: solid;
    border-radius: 500px;
    box-shadow: 1px 1px 1px grey;
    padding-top: 50px;
}

#explore ul li a{
    padding-top: 45%;
    color: #A5A5AF;
}

#explore ul li:hover {
    background-color: #F7C331;
    color: #F5F5F5;
}

#explore ul li a:hover {
    color: #F5F5F5;
}

#explore-alt h2 {
    width: 100%;
    background-color: #A5A5AF;
    color: #F5F5F5;
    padding: 5px;
    border-radius: 10px;
    text-align: center;
}

#explore-alt p {
    background-color: #F5F5F5;
    color: #A5A5AF;
    font-size: 16pt;
}

#explore-alt p a {
    color: #F7C331;
}

#explore-alt h4 {
    text-decoration: solid;
    text-decoration: underline;
    font-size: 20pt;
    color: #A5A5AF;
}

#explore-alt {
    padding: 12px;
    border: 1px solid white;
    color: #A5A5AF;
    background-color: #F5F5F5;
}

#explore-alt th {
    padding-right: 15px;
}

#explore-alt tr {
    padding-right: 15px;
}

#explore-alt td {
    padding-right: 15px;
}

#service-choice li {
    list-style-type: none;
    word-wrap: break-word;
    line-heigh: 1.5em;
}


#service-choice li a {
    display: block;
    padding: 48px 10px 4px 10px;
}

/* Style the tab */
div.tab {
    overflow: hidden;
    border: 1px solid white;
    background-color: #F5F5F5;
}

/* Style the buttons */

div.tab button {
    background-color: #F5F5F5;
    color: #A5A5AF;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

/* Change bk color of buttons on hover */
div.tab button:hover {
    background-color: #F7C331;
    color: #F5F5F5;
}

/* Create an active/current tablink class */
div.tab button.active {
    color: #F5F5F5;
    background-color: #A5A5AF;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid white;
    border-top: none;
}

/* Set it so that Travel Time Is Visible When Page Loads */
#TravelTime {
    display: block;
}


