#map {
    height: 600px;
}

#home-sections {
    width: 100%;
    height: 150px;
    color: white;
    font-size: 24px;
    text-decoration-style: solid;
    text-align: center;
}

p a {
    color: white;
}

p a: hover {
    color: white;
}

#home-sections p a:hover {
    color: #F7C331 !important;
}

#real-time-section p a {
    color: #565656;
}

#route-planner-section {
    height: 300px;
    background-color: #A5A5AF;
}

#real-time-section {
    height: 300px;
    color: #565656;
    background-color: #F5F5F5;
    
}

#timetables-section {
    height: 300px;
    background-color: #A5A5AF;
}

#prefs {
    padding: 12px;
    border: 1px solid #A5A5AF;
}

#results {
    border-left: 1px solid #A5A5Af;
    border-right: 1px solid #A5A5Af;
    border-bottom: 1px solid #A5A5Af;
}
