#map {
    height: 600px;
    width: 100%;
}

#wrapper {
    position: relative;
}

p a {
    color: white;
}

p a:hover {
    color: white;
}


#prefs {
    padding: 12px;
    border: 1px solid white;
    color: #565656;
    background-color: #F5F5F5;
    margin: 0px;
}

#preferences {
}

#results {
    padding-top: 15px;
    background-color: #F5F5F5;
    color: #565656;
}

h4 {
    text-decoration: solid;
    text-decoration: underline;
    font-size: 20pt;
}

h3 {
    text-decoration: solid;
    text-decoration: underline;
    font-size: 12pt;
}

#service-choice li {
    list-style-type: none;
    word-wrap: break-word;
    line-heigh: 1.5em;
}


#service-choice li a {
    display: block;
    padding: 48px 10px 4px 10px;
}

/* Style the tab */
div.tab {
    overflow: hidden;
    border: 1px solid #A5A5AF;
    background-color: #F5F5F5;
}

/* Style the buttons */

div.tab button {
    background-color: #F5F5F5;
    color: #565656;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

/* Change bk color of buttons on hover */
div.tab button:hover {
    background-color: #F7C331;
    color: #F5F5F5;
}

/* Create an active/current tablink class */
div.tab button.active {
    color: #F5F5F5;
    background-color: #A5A5AF;
    border: 1px solid #A5A5AF;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #A5A5AF;
    border-top: none;
}

/* Set it so that Travel Time Is Visible When Page Loads */
#TravelTime {
    display: block;
}

#origin-realtime {
    width: 200px;
}

#results-realtime td {
    padding: 5px;
    border: 1px solid white;
}

#results-realtime th {
    padding: 5px 45px 15px 5px;
    border: 1px solid white;
}




