#routes-table {
    padding: 5px;
    text-align: left;
}

thead * {
    background-color: #565656;
    color: white;
    font-weight: 700; 
}

tr td {
    padding: 10px;
    color: #565656;
    min-width: 30%;
    background-color: #F5F5F5;  /* This is overloaded for even rows */
}

tr:nth-child(even) * {
    background-color: #A5A5AF;
}

tr:hover * {
    cursor: pointer;
    background-color: #F7C331;
    color: white;
}

#results {
    background-color: #F5F5F5;
    height: 400px;
    overflow-y: auto;
}

#results-text {
    /* a hacky solution, but it works*/
    margin: 200px;
    text-align: center;
}

table {
    width: 100%;
}

#map {
    height: 600px;
}