{% extends "base.html" %}

{% block head %}
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAOHmIoluu_RROTARx0AHofNWZbLHg8yxU&callback=initMap" async defer></script>
<link href="{{ url_for('static', filename='css/index.css') }}" rel="stylesheet" type="text/css">
<script src="{{ url_for('static', filename='js/index.js') }}" type="text/javascript"></script>
{% endblock %}


{% block content %}

  <div class="container-fluid">
      <div class="row">
          <div class="col-md-8">
              <div id="map"></div>
          </div>
          <div class="col-md-4">
              <h4>Route Preferences</h4>
              <div id="preferences" class="form-group" action="../../static/js/main.js:travelTime">

                  <label for="origin">Origin:</label>
                  <select class="form-control" id="origin">
                      <option disabled="disabled" selected="selected">
              Select your origin
                </option>
                  </select>

                  <label for="dest">Destination:</label>
                  <select class="form-control" id="dest">
                      <option disabled="disabled" selected="selected">
              Select your destination
                </option>
                  </select>

                  <label for="route">Route:</label>
                  <select class="form-control" id="route">
                      <option disabled="disabled" selected="selected">
              Select a route
                </option>
                  </select>


                  <label for="date_time_selector">Date & Time:</label>
                  <div id="date_time_select_container">
                      <input id="date_time_selector" size="16" type="text">
                  </div>

                  <script>
                      $("#date_time_selector").flatpickr({
                          minDate: "today",
                          enableTime: true,
                          maxDate: new Date().fp_incr(7)
                      }
                      );
                  </script>

                  <input type="button" class="btn btn-info" onclick="travelTime()" value="Submit">
              </div>
          </div>
      </div>
      <div id="results"></div>
  </div>

<script>
                            function pop_origin_stops() {
                                var origin_drop = $('#origin');
                                $.getJSON("http://csi6220-4-vm1.ucd.ie/stops", function (data) {
                                    if ('stops' in data) {
                                        var stops = data.stops;
                                        console.log('stops', stops);
                                        _.forEach(stops, function (data) {
                                            origin_drop.append($('<option>', {
                                                value: data.stop_id,
                                                text: data.stop_address + " - Stop No: " + data.stop_id
                                            }, '</option>'));
                                        })
                                    }
                                })
                            }

function pop_origin_stops() {
    var origin_drop = $('#origin');
    $.getJSON("http://127.0.0.1:5000/stops/2012", function (data) {
        if ('stops' in data) {
            var stops = data.stops;
            console.log('stops', stops);
            _.forEach(stops, function (data) {
                origin_drop.append($('<option>', {
                    value: data.stop_id,
                    text: data.stop_address + " - Stop No: " + data.stop_id
                }, '</option>'));
            })
        }
    })
}

function pop_destination_stops(origin_id) {
    var destination_drop = $('#dest');
    $.getJSON("http://127.0.0.1:5000/destination_stops/" + origin_id, function (data) {
        if ('stops' in data) {
            var stops = data.stops;
            console.log('stops', stops);
            _.forEach(stops, function (data) {
                destination_drop.append($('<option>', {
                    value: data.stop_id,
                    text: data.stop_address + " - Stop No: " + data.stop_id
                }, '</option>'));
            })
        }
    })
}

function pop_routes(origin_id, destination_id) {
    var routes_drop = $('#route');
    $.getJSON("http://127.0.0.1:5000/possible_routes/" + origin_id + "/" + destination_id, function (data) {
        if ('routes' in data) {
            var routes = data.routes;
            console.log('routes', routes);
            _.forEach(routes, function (data) {
                routes_drop.append($('<option>', {
                    value: data.journey_pattern,
                    text: data.journey_pattern
                }, '</option>'));
            })
        }
    })
}

function call_model(origin_id, destination_id, weekday, hour, jpid) {
    var time_p = $('#predicted_time_p');
    $.getJSON("http://127.0.0.1:5000/predict_time/" + origin_id + "/" + destination_id + "/" + weekday + "/" + hour + "/" + jpid, function (data) {
        if ('time' in data) {
            var time = data.time;
            console.log('time', time[0]);
            time_p.append(
                Math.ceil(time[0] / 60) + " minutes"
            )
        }
    });
}


function remove_options(id, which) {
    var list = document.getElementById(id);
    for (var i = list.length - 1; i >= 0; i--) {
        list.remove(i);
    }
    var option = document.createElement("option");
    if (id === 'dest') {
        option.text = 'Select a destination';
    }
    else {
        option.text = "Select a " + id;
    }
    option.disabled = false;
    list.add(option);
    if (which === 'origin') {
        pop_destination_stops($("#origin").val());
    }
    else if (which === 'dest') {
        pop_routes($("#origin").val(), $("#dest").val());
    }
}

$("#origin").change(function () {
    remove_options('dest', 'origin');
    remove_options('route', 'ignore');
});

$("#dest").change(function () {
    remove_options('route', 'dest');
});

function get_weather() {
    var xmlhttp = new XMLHttpRequest();
    var url = "http://api.openweathermap.org/data/2.5/forecast?id=7778677&APPID=4cd167bc85dff937818ea9a5eb6fa550&units=metric";

    xmlhttp.onreadystatechange = function () {
        if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
            var weather_json = JSON.parse(xmlhttp.responseText);
            apply_weather(weather_json);
        }
    };
    xmlhttp.open("GET", url, true);
    xmlhttp.send();
}

function apply_weather(data) {
    weather_list = data.list;
    console.log('list', weather_list);
}



//    function predictTime(route, origin, dest, day, time) {
//    predictedTravelTime = "Predictions Coming Soon!";
//}

function travelTime() {
    //    var results = document.getElementById("preferences");
    var route = document.getElementById("route").value;
    var origin = document.getElementById("origin").value;
    var dest = document.getElementById("dest").value;
    var date_time = document.getElementById('date_time_selector').value;
    var date_split = date_time.match(/(\d+)-(\d+)-(\d+) (\d+):(\d+)/);
    var timestamp = (new Date(date_split[1], date_split[2], date_split[3], date_split[4], date_split[5], '00').getTime() / 1000) - 2664000;
    var hour = parseInt(date_split[4]);
    console.log(hour);
    var date = new Date(timestamp*1000);
    var day = date.getDay();
    var weekday;
    if (day === 0 || day === 1 || day === 6){
        weekday = 1;
    }
    else{
        weekday = 0;
    }
    var jpid = document.getElementById("route").value;
    console.log(day);
    console.log(jpid);
    //var day = date_time.slice(0, 10);
    //var time = date_time.slice(11);
    var weather_at_time = weather_list[0];
    for (var x = 1; x < weather_list.length; x++) {
        if (Math.abs(parseInt(weather_list[x]['dt']) - parseInt(timestamp)) < Math.abs(parseInt(weather_at_time['dt']) - parseInt(timestamp))) {
            weather_at_time = weather_list[x];
        }
    }
    //    console.log("Weather at time:", weather_at_time);
    //    console.log(route, origin, dest, day, time);

    var i, out = "";
    out += "<div class='row'><div class='col-md-4'><h4>Predicted Weather at " + date_time + "</h4><p>Temperature: " + weather_at_time['main']['temp'] + "&#8451<p>Description: " + weather_at_time['weather'][0]['main'] + "</p><img src = \"http://openweathermap.org/img/w/" + weather_at_time['weather'][0]['icon'] + ".png\"</img>" + "</div><div class='col-md-4'><h4>Estimated Travel Time</h4><p id='predicted_time_p'></p></div><div class='col-md-4'><h4>Advanced Preferences</h4><div class='radio'><label><input type='radio' name='optradio'>Fastest Route</label></div><div class='radio'><label><input type='radio' name='optradio'>Fewest Changeovers</label></div><div class='radio'><label><input type='radio' name='optradio'>Cheapest Route</label></div></div></div></div>";
    document.getElementById("results").innerHTML = out;

    showRoute(origin, dest, jpid);
    call_model(origin, dest, weekday, hour, jpid);
}

markersArray = [];

function showRoute(origin_id, destination_id, jpid) {
$.getJSON("http://127.0.0.1:5000/pop_map_route/" + origin_id + "/" + destination_id + "/" + jpid, function (data) {
    var stops = data.stops;
    console.log(markersArray);

    for(var i = 0; i < markersArray.length; i++) {
        markersArray[i].setMap(null);
    }
    markersArray.length = 0;


    _.forEach(stops, function(data){
        var marker = new google.maps.Marker({
        position: {
            lat: data["latitude"],
            lng: data["longitude"]
        },
        map: map,
        title: data["stop_address"],
        stop_number: data["stop_id"]
    }
    );
        markersArray.push(marker);

    });

    });
}

</script>

{% endblock %}
