{% extends "base.html" %}

{%  block content %}

    <div id="select_div">
        <label for="origin">Origin:</label>
                        <select class="form-control" id="origin">
                            <option disabled="disabled" selected="selected">
				            Select your stop
			                </option>
                        </select>
    </div>
        <div id="results">

        </div>
    <div id="twitter_feed" style="width:40%">
    <a class="twitter-timeline" href="https://twitter.com/dublinbusnews">Tweets by dublinbusnews</a>
    <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

    </div>

<script>
    function get_rti(stop_id) {
        $.getJSON("https://data.dublinked.ie/cgi-bin/rtpi/realtimebusinformation?stopid=" + stop_id + "&format=json", function (data) {
            console.log(data);
            var results = data.results;
            var out = data.errormessage + "<br><table style='width:50%'><th>Route</th><th>Destination</th><th>Time</th>";
            for(var i = 0; i < results.length; i++){
                out += "<tr><td>" + results[i]["route"] + "</td>";
                out += "<td>" + results[i]["destination"] + "</td>";
                out += "<td>" + results[i]["duetime"] + "</td></tr>";
            }
            out += "</table>";
            document.getElementById("results").innerHTML = out;
        }

            )
    }

    function pop_origin_stops() {
    var origin_drop = $('#origin');
    $.getJSON("http://127.0.0.1:5000/stops/2017", function (data) {
        if ('stops' in data) {
            var stops = data.stops;
            console.log('stops', stops);
            _.forEach(stops, function (data) {
                origin_drop.append($('<option>', {
                    value: data.stop_id,
                    text: data.stop_address + " - Stop No: " + data.stop_id
                }, '</option>'));
            })
        }
    })
}

    $("#origin").change(function () {
    get_rti($("#origin").val());
    });

    window.onload = function(){
        pop_origin_stops();
    }

</script>

{%  endblock %}